@media screen and (max-width: 1745px) {
  header {
    .logo {
      padding-left: 0 !important;
    }

    .button {
      margin-right: 0 !important;
    }
  }
  main {
    width: 80%;
  }
}

@media screen and (max-width: 1271px) {
  .title {
    font-size: 35px;
  }

  .watch_content {
    .button {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 1126px) {
  .title {
    font-size: 30px;
  }

  .button_displaying {
    flex-direction: column;
    margin: auto auto auto 0;
  }
}

@media screen and (max-width: 984px) {
  .subtitle {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 936px) {
  header {
    justify-content: space-between !important;
    .button {
      display: none;
    }
    .header_list {
      display: none !important;
    }

    .burger {
      display: block !important;
    }
  }
}

@media screen and (max-width: 812px) {
  .title {
    font-size: 25px;
  }
  .card {
    width: 100% !important;

    .card_title {
      font-size: 1.7rem;
    }

    .card_text {
      font-size: 1.2rem;
    }

    .learn_more {
      font-size: 1.4rem;
    }
  }
}
